<div class="content">

	<header>Admin Home</header>

	<span class="mobile-only soft-warning">Notice: This admin page looks best on a larger screen!</span>

	<div class="content">

		<div class="row"%>

			<div class="col-xs-12 col-sm-4">

				<%= link_to admin_users_path do %>
					
					<div class="card index">
						
						<div class="card-content">
							
							<p>Users<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float: right"></span></p>

						</div>

					</div>

				<%end%>

			</div>

			<div class="col-xs-12 col-sm-4">

				<%= link_to admin_service_requests_path do %>
					
					<div class="card index">
						
						<div class="card-content">
							
							<p>Service Requests<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float: right"></span></p>

						</div>

					</div>

				<%end%>

			</div>

			<div class="col-xs-12 col-sm-4">

				<%= link_to admin_charges_path do %>
					
					<div class="card index">
						
						<div class="card-content">
							
							<p>Credit Card Charges<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float: right"></span></p>

						</div>

					</div>

				<%end%>

			</div>
		
		</div>

	</div>

</div>
