<div class="reveal-panel" id="payment" style="display: none;">

	<div class="card">

		<header>Payment Information</header>


		<br>

		<a class="button brand-blue-background medium click-to-reveal make-not-live full-screen-only" data-reveal-panel-id="additional">Continue</a>

	</div>

	<div class="fixed-bottom-cta mobile-only">

		<a class="button brand-blue-background medium click-to-reveal make-not-live" data-reveal-panel-id="additional">Continue</a>

	</div>

</div>