
<div class="full-screen-container">

	<div class="full-screen-content">

		<%if @service_category%>

			<%= f.hidden_field :service_category_id, :value => @service_category.id %>

		<%else%>

			<div class="form-container medium card">

				<label>Which Service?</label>

				<%= f.collection_select :service_category_id, ServiceCategory.all, :id, :name, :prompt=>"Select a Service"%>
			
			</div>

		<%end%>

	</div>

</div>
