
<div class="full-screen-container reveal-panel" id="where" style="display: none;">

	<div class="top-of-page-message notice brand-yellow-background">

		<p>Please Enter Your Location</p>

	</div>

	<div class="content medium">

		<h2>Where?</h2>

		<%= f.text_field :address, placeholder:"Enter Your Address", class:"geocomplete-input" %>

		<br><br>

		<a class="button brand-blue-background medium click-to-reveal hide-on-mobile-device" data-reveal-panel-id="details">Next</a>

		<a class="button brand-blue-background medium click-to-reveal bottom-cta" data-reveal-panel-id="details">Next</a>

	</div>

</div>

