<div class="reveal-panel" id="payment" style="display: none;">

	<div class="card clear-on-mobile-device">

		<h3>Payment Information</h3>

		<div class="card-content">

			<%= render 'charges/credit_card_form' %>

			<br>
			
			<%= f.submit "Confirm & Hire Someone Now", class: "button brand-blue-background medium full-screen-only" %>

		</div>

	</div>

	<div class="fixed-bottom-cta mobile-only">

		<%= f.submit "Confirm & Hire Someone Now", class: "button brand-blue-background medium" %>

	</div>

	<div class="fixed-bottom-cta-offset mobile-only">

	</div>

</div>