
<div class="full-screen-container reveal-panel" data-reveal-panel-id="live">

	<div class="top-of-page-message notice brand-yellow-background">

		<p>When?</p>

	</div>

	<div class="full-screen-content">

		<div class="content medium">

			<div class="form-controller centered">

				<a class="button dark-red-background medium click-to-reveal make-live" data-reveal-panel-id="where">As Soon As Possible</a>

				<%= f.hidden_field :is_live, :value => false, :id => "is_live" %>

				<br><br>

				<a class="button brand-blue-background medium click-to-reveal make-not-live" data-reveal-panel-id="when">Later</a>

			</div>

		</div>

	</div>

</div>

