
<div class="reveal-panel" id="additional">

	<div class="card clear-on-mobile-device">

		<h3>Describe Your Task</h3>
		
		<%= f.text_field :description, placeholder: "Brief Description of Task"  %>

	</div>

	<br>

	<div class="card clear-on-mobile-device">

		<h3>Provide any Additional Details</h3>
		
		<%= f.text_area :additional_information, placeholder: @additional_information_example_text  %>

	</div>

	<div class="card clear-on-mobile-device">

		<h3>How Much Do You Want To Pay?</h3>
		
		<%= f.number_field :price, class: "centered price"  %>

	</div>

	<br>

	<a class="button brand-blue-background medium click-to-reveal full-screen-only" data-reveal-panel-id="where">Continue</a>


	<div class="fixed-bottom-cta mobile-only">

		<a class="button brand-blue-background medium click-to-reveal" data-reveal-panel-id="where">Continue</a>

	</div>

	<div class="fixed-bottom-cta-offset mobile-only">

	</div>

</div>