<div class="reveal-panel" id="payment" style="display: none;">

	<div class="card clear-on-mobile-device">

		<h3>Payment Information</h3>


		<br>

		<a class="button brand-blue-background medium click-to-reveal full-screen-only" data-reveal-panel-id="additional">Continue</a>

	</div>

	<div class="fixed-bottom-cta mobile-only">

		<a class="button brand-blue-background medium click-to-reveal" data-reveal-panel-id="additional">Continue</a>

	</div>

</div>