
<div class="full-screen-container reveal-panel" id="where" style="display: none;">

	<div class="top-of-page-message notice brand-yellow-background">

		<p>Please Enter Your Location</p>

	</div>

	<div class="content medium">

		<h2>Where?</h2>

		<% if user_signed_in? %>

			<% if current_user.address %>
				
				<div>

					<%= render :partial => 'maps/embed_map', :locals => {:latitude_input => current_user.latitude, :longitude_input => current_user.longitude} %>

				</div>

				<%= f.text_field :address, value:current_user.address, class:"geocomplete-input" %>
			
			<%else%>
				
				<%= f.text_field :address, placeholder:"Enter Your Address", class:"geocomplete-input" %>

			<%end%>

		<%else%>

			<%= f.text_field :address, placeholder:"Enter Your Address", class:"geocomplete-input" %>
			
		<%end%>

		<br><br>

		<a class="button brand-blue-background medium click-to-reveal hide-on-mobile-device" data-reveal-panel-id="details">Next</a>

		<div class="bottom-cta-container">

			<a class="button brand-blue-background medium click-to-reveal bottom-cta" data-reveal-panel-id="details">Next</a>

		</div>

	</div>

</div>

