
<div class="full-screen-container reveal-panel" data-reveal-panel-id="when">

	<div class="top-of-page-message notice brand-yellow-background">

		<p>Please Select a Day and Time</p>

	</div>

	<div class="full-screen-content">

		<div class="content centered">

			<a class="button grey-background medium"><!-- <span><%# Time.now.strftime("%A")%>, </span><%# Time.now.strftime("%b %d")%> -->Select a Day</a>
			<br><br>
			<ul class="horizontal centered button-list spread three"><li><a class="button grey-background">Morning<br>(8a - 12p)</a></li><li><a class="button grey-background">Afternoon<br>(12p - 5p)</a></li><li><a class="button grey-background">Evening<br>(5p - 9p)</a></li></ul>

			<br>

			<a class="button green-background medium click-to-reveal hide-on-mobile-device" data-reveal-panel-id="where">Next</a>

			<a class="button green-background medium click-to-reveal bottom-cta" data-reveal-panel-id="where">Next</a>

		</div>

	</div>

</div>

