<div class="top-of-page-message notice brand-yellow-background">

    <p>Confirmation</p>

</div>

<div class="content">

	<div class="card">
		
		<h2 class="centered">Confirmation</h2>

		<div class="centered">
			<%= link_to "Return to Home", root_path, class: "button dark-red-background"%>
		</div>

	</div>

</div>


