<div class="top-of-page-message notice brand-yellow-background">

    <p>Confirmation</p>

</div>

<div class="content medium">

	<div class="card centered">
		
		<div class="card-content">

			<span class="glyphicon glyphicon-ok big-check-mark" aria-hidden=true></span>
			
			<br><br>

			<p>Your <%= @service_request.service_category.name %> service request ...</p>

			<p>If you have any questions in the mean time, feel free to contact us at ....@servmanity.com</p>
			
			<br>

			<div class="centered">
				<%= link_to "Back to Home", root_path, class: "button medium dark-red-background"%>
			</div>

		</div>

	</div>

</div>


