


<div class="full-screen-container">

	<div class="content-medium centered">
		<br><br>
		<div class="ajax-loading"></div>
		<div class="ajax-listener"></div>

		<br><br>

		<h3>We're Matching You With A Local Service ...</h3>

	</div>

</div>


<script>
     
     setInterval(ajaxCall, 10000); //10000 MS == 10 seconds

	function ajaxCall() {
	    //do your AJAX stuff here
	    checkForRequestAcceptance(<%= params[:id] %>)
	    console.log("video report")
	}

</script>


