<div class="full-screen-container reveal-panel" data-reveal-panel-id="when">

  <div class="top-of-page-message notice brand-yellow-background">

    <p>Pay and Confirm</p>

  </div>

  <div class="full-screen-content">

    <div class="content medium">

      <%= form_tag confirm_payment_for_service_request_path(@service_request.id) do %>

        <h2>Payment Information</h2>

        <div>
            
            <input type="radio" name="payment_option" value="saved"  checked="checked" id="saved_card_option"> <%= "Your " + " ending 1234" %><br>
            
            <input type="radio" name="payment_option" value="new" id="new_card_option">A different credit card

        </div>
          
        <div class="centered">

          <button class="button medium brand-blue-background hide-on-mobile-device">Confirm & Book</button>
          
          <div class="bottom-cta-container">

            <button class="button medium brand-blue-background bottom-cta">Confirm & Book</button>

          </div>

        </div>

      <%end%>

    </div>

  </div>



</div>