<nav class="content-fixed-header material-box-shadow yellow-background">

	<ul class="horizontal spread">

		<li><a><span class="number-badge material-box-shadow">1</span> Task Details</a></li><li><a><span class="number-badge material-box-shadow">2</span> View Taskers & Prices</a></li><li><a><span class="number-badge material-box-shadow">3</span> Confirm & Book</a></li>

	</ul>

</nav>

<div class="content">

	<%= form_for(@service_request) do |f| %>

		<header><%= @service_category %> Service Request</header>

		<div class="form-container medium">

			<label>Date</label>
			<br>
			<label>Time of Day (morning)</label>
		</div>

		<br>

		<div class="form-container medium">
			<label>Address</label>
			
		</div>

		<br>

		<div class="form-container medium">
			
			<label>Additional Information</label><br>

			<%= f.text_area :additional_information %>

		</div>

		<br>

		<div class="centered">
			<a class="button medium dark-red-background">Next</a>
		</div>

	<%end%>

</div>
