<div>

	<div class="notice-header notice brand-yellow-background full-screen-only">

		<p><%= @navigation_title %></p>

	</div>

	<div class="content medium">


		<%= form_for(@service_request) do |f| %>
			
			
			
			<%= f.submit "Update Request", class: "button brand-blue-background medium" %>

		<%end%>

	</div>

</div>

