<%# render 'service_requests/progress_header' %>

<% if flash[:message_at_top] %>

	<div class="top-of-page-message notice brand-blue-background">

		<p><%= flash[:message_at_top] %></p>

	</div>

<%end%>

<div class="content">

	<% @service_request.recommended_taskers.each do |tasker| %>

		<div class="card">

			<%= image_tag tasker.image.url(:medium), class:"medium-image" %>
			<br>
			<h3><%= tasker.public_display_name %></h3>
			<br>
			<h4>4.5/5 Rating</h4>
			<br>
			<h4>30 Reviews</h4>

			<a class="button medium green-background">Hire Me for <%= number_to_currency(tasker.hourly_rate_for_category(@service_request.service_category_id), precision: 0) %>/hour</a>

		</div>

	<%end%>

</div>
