<nav class="content-fixed-header material-box-shadow yellow-background">

	<ul class="horizontal spread">

		<li><a><span class="number-badge material-box-shadow">1</span> Task Details</a></li><li><a><span class="number-badge material-box-shadow">2</span> View Taskers & Prices</a></li><li><a><span class="number-badge material-box-shadow">3</span> Confirm & Book</a></li>

	</ul>

</nav>

<div class="content has_fixed_header">

	<header>Choose a <%= @service_category %> Professional</header>

	<% @service_request.recommended_taskers.each do |tasker| %>

		<div class="material-box-shadow">

			<%= image_tag tasker.image.url(:medium), class:"medium-image" %>
			<br>
			<h3><%= tasker.public_display_name %></h3>
			<br>
			<h4>4.5/5 Rating</h4>
			<br>
			<h4>30 Reviews</h4>

		</div>

	<%end%>

</div>
