<div class="notice-header notice brand-yellow-background">

    <p>Cancelled</p>

</div>

<div class="content medium">

	<div class="card centered">

		<div class="card-content">
			
			<% unless current_user.is_tasker %>
			
				<p>You successfully cancelled your request.</p> <!-- Need to add cancellation fee conditional -->
			
			<%else%>
				
				<p>You successfully cancelled your acceptance of this request.</p> <!-- Need to add cancellation fee conditional -->

			<%end%>

			<br>

			<p>If you have any questions, feel free to contact us at support@servmanity.com</p>

			<br>

			<div class="centered">
				<%= link_to "Back to Dashboard", root_path, class: "button medium dark-red-background"%>
			</div>

		</div>

	</div>

</div>


