<div class="full-screen-container">

  <div class="content">

    <%= render :partial => 'service_requests/index_show', :locals => {:request => @service_request, :active => true} %>

  </div>

</div>
