<div class="full-screen-container">

  <div class="content">

	  	<header class="full-screen-only">Request Details</header>

	    <%= render :partial => 'service_requests/show_detailed', :locals => {:request => @service_request, :active => false} %>

  </div>

