<div class="full-screen-container">

  <div class="content">

    <%= render :partial => 'service_requests/index_show', :locals => {:request => current_user.active_task_for_tasker, :active => true} %>

  </div>

</div>
