<div class="full-screen-container">

  <div class="content">

    <%= render :partial => 'service_requests/show_detailed', :locals => {:request => @service_request, :active => false} %>

  </div>

</div>
