<ul id="rig">
	
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="img/1.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Lorem Ipsum Dolor</span>
        </a>
    </li>
</ul>
