<ul class="" id="rig">

	<% service_categories.each do |category| %>

		<li>
		    <a class="rig-cell" href="<%= initiate_service_request_path(category.url_name) %>">
		        
		        <%= image_tag category.image(:medium), class:"rig-img" %>
		        <span class="rig-overlay"></span>
		        <span class="rig-text"><%= category.name %></span>
		    </a>
		</li>

	<%end%>

</ul>
