
<div class="content">

  <section class="content-section">

    <header class="centered dashboard">How Can We Help You Today?</header>

    <div class="content-column-container">
      
      <%= render :partial => 'service_categories/grid', :locals => {:service_categories => ServiceCategory.all.take(6)} %>

    </div>

  </section>

</div>
