<div class="full-screen-container reveal-panel">

	<div class="top-of-page-message notice brand-yellow-background">

		<p>Add <% if @service_category %><%= @service_category.name%> <%end%> to Your Profile</p>

	</div>

  	<div class="content medium">

		<%= render 'form' %>

	</div>

</div>
