<div class="content">

	<header class="centered">Add <% unless @service_category %>A Service <%else%><span style="color:green;"><%= @service_category.name%></span> <%end%> To Your Profile</header>
	<%= render 'form' %>

</div>
