
<div class="card centered">

	<h3 class="centered"><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="margin-right: 5px;"></span> My Location</h3>

	<div class="card-content">

		<%= render :partial => 'maps/embed_map', :locals => {:latitude_input => current_user.latitude, :longitude_input => current_user.longitude} %>

		<br><br>

		<%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class:"" }) do |f| %>

			<%= f.text_field :address, placeholder:"Enter Your Address", class:"geocomplete-input clear-on-focus address_input_for_embed" %>
			
			<br>

			<%= f.submit "Update Location", class: "button stretch brand-blue-background" %>

		<%end%>

	</div>

</div>
