
<%= render 'users/dashboard_header' %>

<div>

	<div class="full-screen-content">

		<div class="content with-fixed-header">

			<h2 class="centered dashboard">How Can We Help You Today?</h2>

			<%= render :partial => 'service_categories/grid', :locals => {:service_categories => ServiceCategory.all.take(4)} %>

			<% if @default_dashboard %>
				<br><br>
				<h2 class="centered dashboard">Get Started</h2>

				<div class="content-column-container">
					<div class="content-column"><span class="number-badge material-box-shadow yellow-background black-text">1</span></div>
					<div class="content-column">
						<h3>Pick a Service</h3>
						<p>Choose from our list of popular chores and errands below or <a href="#">see a list of all available services</a> (link).</p>
					</div>
				</div>

				<div class="content-column-container">
					
					<div class="content-column">
						<span class="number-badge material-box-shadow yellow-background black-text">2</span>
					</div>
					
					<div class="content-column">
						<h3>Get Matched</h3>
						<p>Some kind of service or something.</p>
					</div>

				</div>

				<div class="content-column-container">
					
					<div class="content-column"><span class="number-badge material-box-shadow yellow-background black-text">3</span></div>
					
					<div class="content-column">
						<h3>Get it Done</h3>
						<p>Some kind of service or something.</p>
					</div>

				</div>


			<%end%>

		</div>

	</div>

</div>