
<%= render 'users/dashboard_header' %>

<div class="content with-fixed-header">

	<%# if @default_dashboard %>

		<section class="content-section card">

			<header class="centered">How to Get Hired</header>

			<div class="content-column-container">
				<div class="content-column"><span class="number-badge material-box-shadow yellow-background black-text">1</span></div>
				<div class="content-column">
					<h3>Add a Photo</h3>
					<p>Choose from our list of popular chores and errands below or <a href="#">see a list of all available services</a> (link).</p>
				</div>
			</div>

			<div class="content-column-container">
				
				<div class="content-column">
					<span class="number-badge material-box-shadow yellow-background black-text">2</span>
				</div>
				
				<div class="content-column">
					<h3>Add Services to Your Profile</h3>
					<p>Browse our full list of services and add relevant services to your profile so that customers can find you.</p>
				</div>

			</div>

			<div class="content-column-container">
				
				<div class="content-column"><span class="number-badge material-box-shadow yellow-background black-text">3</span></div>
				
				<div class="content-column">
					<h3>Match with Customers</h3>
					<p>Some kind of service or something.</p>
				</div>

			</div>

		</section>

		<section class="content-section card">

			<header class="centered">Can You Perform Any of These Services?</header>

			<div class="content-column-container">

					<%= render :partial => 'service_categories/grid', :locals => {:service_categories => ServiceCategory.all.take(4)} %>

				<p class="centered">See More Services</p>

			</div>

		</section>

	<%# else %>



	<%#end%>

</div>