<div class="content">

	<header class="centered">Welcome to Servmanity, <%= current_user.first_name %></header>

	<% if @has_tasks %>

		<h2>Upcoming Tasks</h2>

		<h2>Previous Tasks</h2>

	<% else %>

		<section class="content-section">

			<header>How to Get Hired</header>

			<div class="content-column-container">
				<div class="content-column"><span class="number-badge material-box-shadow yellow-background black-text">1</span></div>
				<div class="content-column">
					<h3>Add a Photo</h3>
					<p>Choose from our list of popular chores and errands below or <a href="#">see a list of all available services</a> (link).</p>
				</div>
			</div>

			<div class="content-column-container">
				
				<div class="content-column">
					<span class="number-badge material-box-shadow yellow-background black-text">2</span>
				</div>
				
				<div class="content-column">
					<h3>Set Your Hourly Right</h3>
					<p>Some kind of service or something.</p>
				</div>

			</div>

			<div class="content-column-container">
				
				<div class="content-column"><span class="number-badge material-box-shadow yellow-background black-text">3</span></div>
				
				<div class="content-column">
					<h3>Match with Customers</h3>
					<p>Some kind of service or something.</p>
				</div>

			</div>

		</section>

		<section class="content-section">

			<header>Can You Perform Any of These Services?</header>

			<div class="content-column-container">
				
				<% ServiceCategory.last(3).each do |category| %>

					<%= link_to add_service_to_user_path(:category => category.url_name) do %>

						<div class="content-column spread-box">
							
							<div class="spread-box">

								<div class="image-container">

									<div class="image-overlay">

										<h2><%= category.name%></h2>

									</div>

									<%= image_tag category.image.url(:medium), class:"material-box-shadow" %>

								</div>

							</div>

						</div>

					<%end%>

				<%end%>

				<p class="centered">See More Services</p>

			</div>

		</section>

	<%end%>

</div>