<%= render 'users/dashboard_header' %>

<div class="content">

	<div class="row">

		<header>Live Request Feed</header>

		<div class="col-xs-12">

			<% @service_requests.each do |request| %>
						
				<%= render :partial => 'service_requests/index_show', :locals => {:request => request, :active => false} %>

			<%end%>

		</div>

	</div>

</div>