<%= render 'users/dashboard_header' %>

<div class="content">

	<% if current_user.is_tasker %>

		<header>My Tasks</header>

	<%else%>

		<header>My Requests</header>

	<%end%>
		
	<section class="content-section">

		<% @service_requests.each do |request| %>
				
			<%= render :partial => 'service_requests/index_show', :locals => {:request => request , :active => false} %>

		<%end%>

		<%# link_to "Add More Services", add_service_to_user_path, class:"button money-green-background stretch"%>

	</section>

</div>