<section class="home-hero">

	<div class="home-hero-overlay">

		<div class="home-hero-content">
			
			<header>We Do Chores.<br>You Live Life.</header>

			<br><br>
			
			<%= link_to "Get Started", signup_path, class:"button brand-blue-background medium" %>

		</div>

	</div>

</section>

<section class="home-about brand-yellow-background">

	<div class="home-about-content">

		<header class="section-header">Introducing Servmanity</header>

		<div class="content no-padding">

			<div class="videoWrapper">
			    <!-- Copy & Pasted from YouTube -->
			    <iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
			</div>

		</div>

	</div>

</section>

<section class="home-about white-background">

	<div class="home-about-content">

		<header class="section-header">How Can We Help You Today?</header>

		<div class="content no-padding">

			<div class="content-column-container">
				
				<%= render :partial => 'service_categories/grid', :locals => {:service_categories => ServiceCategory.all.take(4)} %>

			</div>

		</div>

	</div>

</section>



<section class="home-about dark-grey-background">

	<div class="home-about-content">
		
		<header class="section-header white-text">How it Works</header>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">1</span>

			<br><br>

			<header>Pick a Task</header>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, lorem eget molestie dapibus, eros leo hendrerit ante, sit amet blandit dolor risus id mi.</p>

		</section>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">2</span>

			<br><br>
			
			<header>Get Matched</header>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, lorem eget molestie dapibus, eros leo hendrerit ante, sit amet blandit dolor risus id mi.</p>

		</section>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">3</span>

			<br><br>
			
			<header>Get it Done</header>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, lorem eget molestie dapibus, eros leo hendrerit ante, sit amet blandit dolor risus id mi.</p>

		</section>

		<br><br>
		<%= link_to "Create an Account", signup_path, class:"button purple-background medium" %>

	</div>

</section>



<section class="home-about white-background">

	<div class="home-about-content">
		
		<header class="section-header">Reliable, Professional Service Gauranteed</header>

	</div>

</section>

