<section class="home-hero">

	<div class="home-hero-overlay">

		<div class="home-hero-content">
			
			<header>Earn Money<br>Be Your Own Boss</header>

			<br><br>
			
			<%= link_to "Get Started", tasker_signup_path, class:"button brand-blue-background medium" %>

		</div>

	</div>

</section>

<section class="home-about servmanity-light-yellow-background">

	<div class="home-about-content">

		<header class="section-header">Introducing Servmanity</header>

		<div class="content no-padding">

			<div class="videoWrapper">
			    <!-- Copy & Pasted from YouTube -->
			    <iframe width="560" height="349" src="https://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
			</div>

		</div>

	</div>

</section>


<section class="home-about dark-grey-background" id="how-it-works">

	<div class="home-about-content">
		
		<header class="section-header white-text">How it Works</header>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">1</span>

			<br><br>

			<header>Signup and Tell us About</header>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, lorem eget molestie dapibus, eros leo hendrerit ante, sit amet blandit dolor risus id mi.</p>

		</section>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">2</span>

			<br><br>
			
			<header>Get Matched with Customers</header>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, lorem eget molestie dapibus, eros leo hendrerit ante, sit amet blandit dolor risus id mi.</p>

		</section>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">3</span>

			<br><br>
			
			<header>Get Paid</header>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, lorem eget molestie dapibus, eros leo hendrerit ante, sit amet blandit dolor risus id mi.</p>

		</section>

		<br><br>
		<%= link_to "Create an Account", signup_path, class:"button brand-blue-background medium" %>

	</div>

</section>



<section class="home-about white-background">

	<div class="home-about-content">
		
		<header class="section-header">Testimonials</header>

	</div>

</section>

