<section class="home-hero">

	<div class="home-hero-content">
		<header>We Do Chores.<br>You Live Life.</header>

		<br>
		
		<input type="text" placeholder="What do you need help with?"></input>
	</div>

</section>


<section class="home-about">

	<div class="home-about-content">
		
		<header>We are Skilled Professionals</header>

	</div>


</section>

