<section class="home-hero">

	<div class="home-hero-content">
		<header>We Do Chores.<br>You Live Life.</header>

		<br>
		
		<input type="text" placeholder="What do you need help with?"></input>
	</div>

</section>


<section class="home-about">

	<div class="home-about-content">
		
		<header>How Can We Help You?</header>

		<section>

			<div class="material-box-shadow white-background">

				<header>1</header>

			</div>

			

		</section>

		<section>

			<div class="material-box-shadow white-background">

				<header>2</header>

			</div>

		</section>

		<section>

			<div class="material-box-shadow white-background">

				<header>3</header>

			</div>

		</section>

	</div>

</section>



<section class="home-about dark-grey-background">

	<div class="home-about-content">
		
		<header>How it Works</header>

		<section>

			<span>1</span>

			<header>Pick a Task</header>

			<div class="material-box-shadow white-background">

				

			</div>

			

		</section>

		<section>

			<span>2</span>
			
			<header>Get Matched</header>

			<div class="material-box-shadow white-background">

				

			</div>

		</section>

		<section>

			<span>3</span>
			
			<header>Get it Done</header>

			<div class="material-box-shadow white-background">

				

			</div>

		</section>

	</div>

</section>



<section class="home-about">

	<div class="home-about-content">
		
		<header>We are Skilled Professionals</header>

	</div>

</section>

