<section class="home-hero">

	<div class="home-hero-content">
		<header>We Do Chores.<br>You Live Life.</header>

		<br>
		
		<input type="text" placeholder="What do you need help with?"></input>
	</div>

</section>


<section class="home-about">

	<div class="home-about-content">
		
		<header class="section-header">How Can We Help You?</header>

		<section>

			<div class="material-box-shadow white-background">

				<div class="image-container">


				</div>

				<header>Car Repair</header>

				<p>$78/hour & Up</p>

			</div>

			

		</section>

		<section>

			<div class="material-box-shadow white-background">

				<div class="image-container">


				</div>

				<header>General Handyman</header>

				<p>$28/hour & Up</p>

			</div>

		</section>

		<section>

			<div class="material-box-shadow white-background">

				<div class="image-container">


				</div>

				<header>Delivery</header>

				<p>$25/hour & Up</p>

			</div>

		</section>

		<%= link_to "See All Categories", root_path %>

	</div>

</section>



<section class="home-about dark-grey-background">

	<div class="home-about-content">
		
		<header class="section-header">How it Works</header>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">1</span>

			<br>

			<header>Pick a Task</header>

			<div class="material-box-shadow white-background">

				

			</div>

			

		</section>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">2</span>

			<br>
			
			<header>Get Matched</header>

			<div class="material-box-shadow white-background">

				

			</div>

		</section>

		<section>

			<span class="number-badge material-box-shadow yellow-background black-text">3</span>

			<br>
			
			<header>Get it Done</header>

			<div class="material-box-shadow white-background">

				

			</div>

		</section>

	</div>

</section>



<section class="home-about">

	<div class="home-about-content">
		
		<header class="section-header">We are Skilled Professionals</header>

	</div>

</section>

