<div class="content document">
	<h1>Servmanity Privacy Policy</h1>

	<h3>Last Updated March 16, 2017</h3>

	<br>
	
	<p>
		Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
	</p>

	<ul>
		<li>
			Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
		</li>
		<li>
			We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.		
		</li>
		<li>
			We will only retain personal information as long as necessary for the fulfillment of those purposes. 
		</li>
		<li>
			We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned. 
		</li>
		<li>
			Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date. 
		</li>
		<li>
			We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
		</li>
		<li>
			We will make readily available to customers information about our policies and practices relating to the management of personal information. 
		</li>
	</ul>

	<p>
		We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. 
	</p>



	XXXX
	<p>5MT Empowerment Group d/b/a Servmanity ("us", "we", or "our") operates http://www.Servmanity.com (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>

	<p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>

	<br>
	
	<h4>Information Collection And Use</h4>

	<p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").</p>

	<br>
	
	<h4>Log Data</h4>

	<p>Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data").</p>

	<p>This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

	<p>In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this …</p>

	<p>The Log Data section is for businesses that use analytics or tracking services in websites or apps, like Google Analytics. For the full disclosure section, create your own Privacy Policy.</p>

	<br>

	<h4>Communications</h4>

	<p>We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that ...</p>


	<br>
	
	<h4>Cookies</h4>

	<p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>

	<p>Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</p>

	<br>
	
	<h4>Security</h4>

	<p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

	<br>

	<h4>Changes To This Privacy Policy</h4>

	<p>This Privacy Policy is effective as of March 16, 2017 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</p>

	<p>We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>

	<p>If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</p>

	<br>
	
	<h4>Contact Us</h4>

	<p>If you have any questions about this Privacy Policy, please contact us.</p>


</div>

