

<nav class="header-container">

	<div class="header-content">

		<div class="header-options left">

			<ul class="horizontal">

				<li><a class="logo"><div class="header-logo"></div></a></li>

				<li><%= link_to "Home", root_path %></li>

			</ul>

		</div>


		<div class="header-options right">


			<ul class="horizontal">

				<li><%= link_to "Options", root_path %></li>

			</ul>

		</div>

	</div>

</nav>