// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//COLORS


$servmanity-green: #0A6A70;

$servmanity-yellow: #F8BC00;

$servmanity-light-yellow: #ffec50;

$servmanity-purple: #B20083;

$servmanity-orange: #FF6F1A;




$brand-green: #00dd21;

$money-green: #167D26;

$brand-blue: #2980b9;

$brand-grey: #414141;

$brand-light-grey: #bbb;

$brand-orange: #F49003;

$brand-dark-blue: #311B92;

$brand-yellow: #f1c40f;

///$brand-yellow: #F47103;

$brand-red: #F61C3B;

$brand-purple: #7B1FA2;

$brand-dark-red: #E01A33;

$brand-dark-grey: #212121;

$brand-black: #111;



//shadows

$light-text-shadow: 0px 2px 1px #ccc, 0px -1px 0px #fff;

$dark-text-shadow: 0px 1px 0px rgba(0,0,0,0.9);




// MATERIAL

$material-shadow: 0 3px 6px 1px rgba(0,0,0,.08), 0 7px 14px 1px rgba(50,50,93,.1);

