// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'styles';

$button-gradient: inset 0px 1px 3px 0px rgba(240, 240, 240, 0.7), $material-shadow;

.button{
	padding: 10px 25px;
    border-radius: 2px;
    
    display: inline-block;
    margin: 0px;
    text-align: center;
    z-index: 99;
    position: relative;
    border: none;
    cursor: pointer;

    box-shadow: $button-gradient;
    -webkit-box-shadow: $button-gradient;
    -moz-box-shadow: $button-gradient;

}

.button.dark-red-background{
	background: $brand-dark-red;
	color: #fff;

}

.button.medium{
    max-width: 500px;
    width: 100%;
    padding: 15px 25px;
    font-size: 24px;
}

.button.small{
    max-width: 300px;
    width: 100%;
    font-size: 20px;
}

.button.orange-background{
    background: #88e;
    color: #fff;
}

.button.green-background{
    background: $brand-green;
    color: #fff;
}

.button.purple-background{
    background: $brand-dark-purple;
    color: #fff;
}

.button.purple-frame{
    border: 2px solid $brand-dark-purple;
    color: $brand-dark-purple;
    background: #fff;
}