// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

$button-gradient: $material-shadow;

.button{
	padding: 10px 25px;
    border-radius: 2px;
    
    display: inline-block;
    margin: 0px;
    text-align: center;
    z-index: 99;
    position: relative;
    border: none;
    cursor: pointer;

    background: #ea4c89 url(button-glass.png) repeat-x 0 0;

    box-shadow: $button-gradient;
    -webkit-box-shadow: $button-gradient;
    -moz-box-shadow: $button-gradient;
    
    border: 1px solid rgba(0,0,0,0.2);

    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    letter-spacing: -0.5px;

    font-weight: 500;

}

.button.dark-red-background{
	background: $brand-dark-red url(button-glass.png) repeat-x 0 0;
	color: #fff;

}

.button.brand-blue-background{
    background: $brand-blue url(button-glass.png) repeat-x 0 0;
    color: #fff;

}

.button.money-green-background{
    background: $money-green url(button-glass.png) repeat-x 0 0;
    color: #fff;

}

.button.medium{
    max-width: 550px;
    width: 100%;
    font-size: 20px;
}

.button.stretch{
    width: 100%;
    font-size: 18px;
    padding: 10px 20px;
}

.button.small{
    max-width: 300px;
    width: 100%;
    font-size: 16px;
}

.bottom-cta-container{
    display: block;
    bottom: 0px;
    position: absolute;
    padding: 15px;
    left: 0px;
    right:0px;
    z-index: 99999;

    .button.bottom-cta{
        
        font-size: 24px;
        
    }

}

.button.orange-background{
    background: $brand-orange url(button-glass.png) repeat-x 0 0;
    color: #fff;
}

.button.green-background{
    background: $brand-green url(button-glass.png) repeat-x 0 0;
    color: #fff;
}

.button.purple-background{
    background: $brand-dark-blue url(button-glass.png) repeat-x 0 0;
    color: #fff;
}

.button.dark-red-background{
    background: $brand-dark-red url(button-glass.png) repeat-x 0 0;
    color: #fff;
}

.button.grey-background{
    background: $brand-grey url(button-glass.png) repeat-x 0 0;
    color: #666;
    text-shadow: none;
}

.button.light-grey-background.active{
    background: $brand-orange;
    font-weight: 600;
    box-shadow: none;
    color: #111;
}

.button.purple-frame{
    border: 2px solid $brand-dark-blue;
    color: $brand-dark-blue;
    background: #fff;
    text-shadow: none;
    box-shadow: none;
}