// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'styles';

a.click-to-reveal{
    color: #333;
    background: #f3f3f3;

}

a.click-to-reveal.active{
    color: #111;
    border-right: 2px solid blue;
    background: #fff;
    
}