// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.form-container, .form-content{

	max-width: 800px;
	margin: 0px auto;
    position: relative;
	padding: 1.5rem 1rem;
	

	z-index: 9;


	.input-table{
		width:100%;
		block: block;
	}

	label{
		font-weight: 300;
        font-size: 1.5em;
	}

	.field{

		margin-bottom: 2em;
		
	}

	input, textarea {
		width:100%;
		display: block;
		padding: 10px 0px;
		text-indent: 15px;
		font-size: 1.25em;
		border-radius: 2px;
    	color: #333;
	}

	input.button{
		color: #fff;
	}

	select {
		width:100%;
		display: block;
		padding: 10px 0px;
		text-indent: 5px;
		font-size: 1.5em;
    	color: #333;
	}

	select.wide{
		width:100%;
		display: block;
	}

	input.short{
		width: 100px;
		display: inline-block;
	}

	input[type="text"], input[type="number"], input[type="email"], input[type="password"], textarea, select{
		border: 2px solid #777;
		margin-top: 0.5em;
	}

    input[type="radio"]{
        width: auto;
        display: inline-block;
    }

	input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, textarea:focus, select:focus, input[type="password"]:focus{
		border: 2px solid $brand-blue;
		outline: none;
	}

	input[type="submit"]{
		text-indent: 0px;
	}


	textarea{
		resize: none;
		height: 180px;
	}

	.clickable-toggle-option.active{
		color: #fff;
		background-color: #4173c9;

	    border: 1px solid #4173c9;
	}

	.clickable-toggle-option{
		color: #666;
		background-color: #eee;
		border: 1px solid #ccc;

		font-size: 1.5em;
    	display: inline-block;
    	width: 100px;
	}

	.clickable-toggle-option:hover{
		text-decoration: none;
		cursor: pointer;
	}


}

.form-container.medium, .form-content.medium{

	max-width: 500px;
	
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    border: 1px solid #ddd;
    background: #fff;

}

.form-container.medium.clear{
	box-shadow: none;
	border: none;
	background: none;
}

.form-content{

	margin-top: 0px;
}

h2.form-section-header{

	font-size: 3em;
    border-bottom: 2px solid #666;
    margin-bottom: 1em;

}

.image-field-container{
	position: relative;	
	display: inline-block;
}

.small-image{
	width: 70px;
	height: 70px;	
}

.medium-image{
	width: 150px;
	height: 150px;	
}

.white-border{
	border: 3px solid #fff;
}

.rounded{
	display: inline-block;
	border-radius: 50%;	
}

.small-image-overlay-input{
	position: absolute;
    display: inline-block;
    left: 0px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    opacity: 0;
}

.form-controller{
	font-size: 28px;	

	.padded-arrow{
		padding: 10px;
		border-radius: 50%;
		background: $brand-orange;
		color: #fff;
		margin: 0 20px;
		text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);

	}
}

form{

	

	.input-table{
		width:100%;
		block: block;
	}

	label{
		font-weight: 300;
        font-size: 1.5em;
	}

	.field{

		margin-bottom: 2em;
		
	}

	input, textarea {
		width:100%;
		display: block;
		padding: 10px 0px;
		text-indent: 15px;
		font-size: 1.25em;
		border-radius: 2px;
    	color: #333;
	}

	input.button{
		color: #fff;
	}

	select {
		width:100%;
		display: block;
		padding: 10px 0px;
		text-indent: 5px;
		font-size: 1.5em;
    	color: #333;
	}

	select.wide{
		width:100%;
		display: block;
	}

	input.short{
		width: 100px;
		display: inline-block;
	}

	input[type="text"], input[type="number"], input[type="email"], input[type="password"], textarea, select{
		border: 2px solid #777;
		margin-top: 0.5em;
	}

    input[type="radio"]{
        width: auto;
        display: inline-block;
    }

	input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, textarea:focus, select:focus, input[type="password"]:focus{
		border: 2px solid $brand-blue;
		outline: none;
	}

	input[type="submit"]{
		text-indent: 0px;
	}


	textarea{
		resize: none;
		height: 180px;
	}

	.clickable-toggle-option.active{
		color: #fff;
		background-color: #4173c9;

	    border: 1px solid #4173c9;
	}

	.clickable-toggle-option{
		color: #666;
		background-color: #eee;
		border: 1px solid #ccc;

		font-size: 1.5em;
    	display: inline-block;
    	width: 100px;
	}

	.clickable-toggle-option:hover{
		text-decoration: none;
		cursor: pointer;
	}


}


