// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'styles';

.header-logo{
	
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url('logo.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


nav.header-container{
	position: fixed;
	background: #222;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
	width: 100%;
	display: block;
	top: 0px;
	left:0px;
	right:0px;
	height: 60px;
	z-index: 960;
	font-family: 'Montserrat', sans-serif;

	.header-content{
		padding: 0px 0px;
	}

	.header-options{

		a{
			line-height: 30px;
			padding: 15px 12px;
    		font-size: 16px;
    		color: #fff;
    		font-weight: 500;
    		
    		
		}

		a.cheeseburger-container{
			line-height: 12px;
			padding: 22px 8px;
			z-index: 9000;
		}

		a.header-profile-cta{
	
			padding: 7px 15px;

			img{
				width: 45px;
				height: 45px;
				border-radius: 50%;
				border:2px solid #fff;	
			}

		}

		a.logo{
			font-size: 28px;
			text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
			letter-spacing: -1px;
    		
		}

		a.menu-button{
			padding:15px 5px;
		}	

		a.logo:hover{
			-webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  			-moz-animation: neon6 1.5s ease-in-out infinite alternate;
  			animation: neon6 1.5s ease-in-out infinite alternate;
		}

		a.cta{
			padding: 5px 15px;
		    margin: 10px;
		    background: #3349EB;
		    border-radius: 5px;
		    color: #fff;
		    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
		}

		span.glyphicon{
			line-height: 24px;
		}

	}

	.header-options.left{
		float: left;
		
	}

	.header-options.right{
		float: right;
		
	}

	a.mobile-logo{
		position: absolute;
	    width: 100%;
	    display: block;
	    left: 0px;
	    right: 0px;
	    text-align: center;
	    line-height: 24px;
	    font-size: 24px;
	    padding: 18px;
	    font-weight: 800;
	    z-index: 8999;
	}
}



.cheeseburger {
	font-weight: 800;
   	font-size: 20px;
   	margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 15px;
    margin-right: 0.3em;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.cheeseburger:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0px;
    width: 100%;
    border-top: 3px solid #fff;
}

//////////////////STEP HEADER

.step-header{
	max-width: 100%;
	margin: 0 auto;
	display:block;
	margin-bottom: 3em;
	position: fixed;
    width: 100%;

    z-index: 99999;

	table{

		width: 100%;
		

		tr{

			width:100%;

			td{
				text-align: center;
				width: 33.3%;
				
				background: #fff;
				font-weight: bold;
    			color: #264d85;
    			position: relative;

    			a{
    				display: block;
    				padding: 1em 2em;
    				color: #264d85;
    			}

    			a:hover{
    				cursor: pointer;
    				text-decoration: none;
    			}
			}

			td.inactive{
				
				background: #ddd;

				a{
					color: #333;
				}

				a:hover{

				}
			}

			td:before{
				border-left-color: #ddd;
    			margin-left: 1px;
    			z-index: 1;


			}

			td:after{
				border-left-color: #fff;
			}

			td:before, td:after{
				position: absolute;
			    top: 0px;
			    right: auto;
			    bottom: 0px;
			    left: 100%;
			    border-bottom: 25px solid transparent;
    			border-left: 15px solid transparent;
    			border-top: 25px solid transparent;
			    content: "";
			    margin: auto;
			    z-index: 2;
			}

			td:last-child{
				
			}

			td.active{
				
    			
    			color: #52b46d;
    			background: $brand-yellow;

    			a{
    				color: #222;
    			}
			}

			td.active:before{
				border-left-color: $brand-yellow;;
			}

			td.active:after{
				border-left-color: $brand-yellow;;
			}
		
		}
	
	}

}
