// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'styles';

.header-logo{
	
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url('logo.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}



nav.header-container{
	position: fixed;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
	width: 100%;
	display: block;
	top: 0px;
	left:0px;
	right:0px;
	height: 60px;
	z-index: 960;
	font-family: 'Montserrat', sans-serif;

	.header-content{
		padding: 0px 0px;
	}

	.header-options{

		a{
			line-height: 30px;
			padding: 15px 12px;
    		font-size: 14px;
    		color: #222;
    		font-weight: 600;
    		text-transform: uppercase;
    		
		}

		a.cheeseburger-container{
			line-height: 12px;
			padding: 22px 8px;
			z-index: 9000;
		}

		a.header-image{
			padding: 10px 15px;
		}

		a.logo{
			font-size: 24px;
			text-shadow: 0px 1px 0px rgba(0,0,0,0.9);
    		
		}

		a.menu-button{
			padding:15px 5px;
		}	

		a.logo:hover{
			-webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  			-moz-animation: neon6 1.5s ease-in-out infinite alternate;
  			animation: neon6 1.5s ease-in-out infinite alternate;
		}

		a.cta{
			padding: 5px 15px;
		    margin: 10px;
		    background: #3349EB;
		    border-radius: 5px;
		    color: #fff;
		    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
		}

		span.glyphicon{
			line-height: 24px;
		}

	}

	.header-options.left{
		float: left;
		
	}

	.header-options.right{
		float: right;
		
	}

	a.mobile-logo{
		position: absolute;
	    width: 100%;
	    display: block;
	    left: 0px;
	    right: 0px;
	    text-align: center;
	    line-height: 24px;
	    font-size: 24px;
	    padding: 18px;
	    font-weight: 800;
	    z-index: 8999;
	}
}


.header-profile-image{
	width:40px;
	height: 40px;
	border-radius: 50%;
	border:2px solid #fff;	
}

.cheeseburger {
	font-weight: 800;
   	font-size: 20px;
   	margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 15px;
    margin-right: 0.3em;
    border-top: 3px solid #222;
    border-bottom: 3px solid #222;
}

.cheeseburger:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0px;
    width: 100%;
    border-top: 3px solid #222;
}