// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

@media only screen and (min-width: 825px) {
	
	html {

		body {

			.mobile-only{
				display: none !important;
			}

			.full-screen-only{
				display: inherit !important;
			}

			.content, .content-container{
				padding-bottom: 20px;
			}

			.content-container{
				margin-bottom: -20px;
			}

		}

	}

}



@media only screen and (min-width: 825px) {
	
	html {

		body {

			.card{

				.card-content-column{
					display: table-cell;
					vertical-align: top;
				}

				.card-content-column.side{
					text-align: center;
					width: 150px;
					padding: 0px 10px;
					min-width: 100px;
				}
				.card-content-column.main{
					padding: 0px 25px;
					width: 700px;
					text-align: justify;
				}
			}

			.top-of-page-message, .flash-prompt{

				padding: 25px 10px;

				p{
					font-size: 30px;
					line-height: 30px;
				}
			}

			.home-about{

				.home-about-content{
					

					section{
						width: 266px;
						display: table-cell;

					}

					header.section-header{
						font-size: 3em;
						
					}

				}

			}

			.home-hero{

				header{
					
					font-size: 5em;
					text-shadow: 0px 3px 1px rgba(0,0,0,.8);
				}
			}

			.dashboard-header{
				
				ul{
					li{
						a{
							padding: 10px 40px;
						}
					}
				}
				
				
			}

			nav.header-container {
				
				.header-options { 
					
					a.logo{
						
						font-size: 24px;

					}

				}	

			}

			ul.horizontal.spread-on-mobile, ul.horizontal.spread-on-mobile.two{
	
				li{
				
					width: inherit;



				}

			}

			.options-content-container{

				    max-width: none;

				.options-sidebar, .options-content{
					
					display: table-cell;
					vertical-align: top;
					
				}

				.options-sidebar{
					
					border-top: 1px solid #bbb;
					
					width: 250px;

					ul{
						list-style: none;

						li{

							display: block;
							text-align: left;
							box-shadow: $material-shadow;

							a{
								display: block;
								padding: 15px 20px;
								cursor: pointer;
								font-size: 18px;
								border-left: 1px solid #bbb;
								border-bottom: 1px solid #bbb;
								border-top: none;
								border-right: none;


							}

							a.active{
								
								
							}

						}
					}
				}

				.options-content{
					
					width: 550px;
					background: #fff;
					padding: 25px 40px;
					border: 1px solid #bbb;

					.option-content-container{
						padding: 15px;
					}

					header{
						display: block;
					}
					
				}


			}


			.content{

				header{
					text-align: justify;
					font-size: 3em;
				}

				section.content-section{

					padding: 1.5em;

			 		header{
			 			
			 			
			 		}

			 		h2{
			 			font-size: 3em;
			 		}
			 	}

			 	.profile-content{
				 	
				 	.main-profile-content{
				 		display: table-cell;
				 		width: 500px;
				 		vertical-align: top;
				 		margin-bottom: 0rem;
				 	}

				 	.side-profile-content{
				 		display: table-cell;
				 		vertical-align: top;
				 		width: 300px;
				 		text-align: left;
				 	}

			 	}

			
				.content-column-container{

			 		.content-column{
			 			
			 			display: table-cell;

 						.image-container{

				 			img{
	 							position: relative;
	 							z-index: 29;
	 							width: 226px;
	 							height: 226px;
 							}

			 				.image-overlay{

							    position: absolute;
							    background: rgba(0,0,0,0.7);
							    color: #fff;
							    z-index: 30;
							    width: 226px;
							    height: 226px;
							    text-align: center;
							    line-height: 226px;
			 				}

			 			}

				 		
			 		}

			 		.content-column.spread-box{
				 			width: 256px;
				 			display: table-cell;
				 		}

			 	}


			 	.home-about{



			 	}

		 	}

		 	.form-container, .form-content{

				max-width: 800px;
				
			    position: relative;
				padding: 2rem;

			}

			.footer-content{
				

				section{
					display: table-cell;
					text-align: left;
				}
			}

		}

	}

}

////IF DEVICE IS BIGGER THAN MOBILE

@media only screen and (min-device-width: 825px) {
	
	html {

		body {

			background-color: #f9f9f9;

			.content.with-fixed-header{
				padding-top: 50px;
			}

			.dashboard-header{
				
				top: 70px;
				bottom: initial;
				
				
			}

			.button.bottom-cta{
			    
			    display: none;
			    
			}

			.mobile-device-only{
				display: none;
			}

			.content.with-fixed-header{
				padding-top: 80px;
			}


			.shrink-screen-only.inline{
				display: inline-block;
			}

			.shrink-screen-only{
				display: inherit;
			}

			.content{
			 	margin: 0 auto;
			 	display: block;
			 	max-width: 875px;
			 	padding: 50px 15px 10px 15px;

			 	header{
			 		font-size: 2.5rem;
			    	line-height: 1.2;
			    	margin-bottom: 2rem;
			    	display: block;
			    	font-weight: 600;
			    	color: #111;
			    	
			 	}


			 	section.content-section{
			 		margin-bottom: 3rem;
			 		padding: 1em 0.5em;


			 	}

			}

			.card, .card.clear-on-mobile-device{
				margin-bottom: 30px;
				box-shadow: $material-shadow;
				border-radius: 2px;
			}

		}

	}

}

@media only screen and (max-device-width: 825px) {
	
	html {

		body {

			.hide-on-mobile-device{
				display: none !important;
			}

			.shrink-screen-only{
				display: none !important;
			}

		}

	}

}

@media only screen and (min-device-width: 825px) {
	
	html {

		body {


			

		}

	}

}


