// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (min-width: 825px) {
	
	html {

		body {

			.mobile-only{
				display: none !important;
			}

			.full-screen-only{
				display: inherit !important;
			}

		}

	}

}



@media only screen and (min-width: 825px) {
	
	html {

		body {

			.home-about{

				.home-about-content{
					

					section{
						width: 266px;
						display: table-cell;

					}

				}

			}


			.options-content-container{

				.options-sidebar, .options-content{
					
					display: table-cell;
					vertical-align: top;
					
				}

				.options-sidebar{
					
					border-top: 1px solid #ddd;
					
					width: 250px;

					ul{
						list-style: none;


						a{
							display: block;
							padding: 15px 20px;
							cursor: pointer;
							border-bottom: 1px solid #ddd;
							border-left: 1px solid #ddd;

						}
					}
				}

				.options-content{
					
					width: 550px;
					background: #fff;
					padding: 25px 40px 70px 40px;
					border: 1px solid #ddd;

					.option-content-container{
						padding: 15px;
					}
					
				}


			}



			.footer-content{
				

				section{
					display: table-cell;
					text-align: left;
				}
			}

		}

	}

}