// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

@media only screen and (min-width: 825px) {
	
	html {

		body {

			.mobile-only{
				display: none !important;
			}

			.full-screen-only{
				display: inherit !important;
			}

			.content{
				padding: 50px 25px;
			}

		}

	}

}



@media only screen and (min-width: 825px) {
	
	html {

		body {


			.home-about{

				.home-about-content{
					

					section{
						width: 266px;
						display: table-cell;

					}

				}

			}

			.dashboard-header{
				
				ul{
					li{
						a{
							padding: 10px 40px;
						}
					}
				}
				
				
			}

			ul.horizontal.spread-on-mobile, ul.horizontal.spread-on-mobile.two{
	
				li{
				
					width: inherit;



				}

			}

			.options-content-container{

				    max-width: none;

				.options-sidebar, .options-content{
					
					display: table-cell;
					vertical-align: top;
					
				}

				.options-sidebar{
					
					border-top: 1px solid #bbb;
					
					width: 250px;

					ul{
						list-style: none;

						li{

							display: block;
							text-align: left;
							box-shadow: $material-shadow;

							a{
								display: block;
								padding: 15px 20px;
								cursor: pointer;
								font-size: 18px;
								border-left: 1px solid #bbb;
								border-bottom: 1px solid #bbb;
								border-top: none;
								border-right: none;


							}

							a.active{
								
								
							}

						}
					}
				}

				.options-content{
					
					width: 550px;
					background: #fff;
					padding: 25px 40px;
					border: 1px solid #bbb;

					.option-content-container{
						padding: 15px;
					}

					header{
						display: block;
					}
					
				}


			}

			.content{

				header{
					text-align: justify;
				}

				section.content-section{

					padding: 1.5em;

			 		header{
			 			
			 			
			 		}
			 	}

			 	.profile-content{
				 	
				 	.main-profile-content{
				 		display: table-cell;
				 		width: 500px;
				 		vertical-align: top;
				 		margin-bottom: 0rem;
				 	}

				 	.side-profile-content{
				 		display: table-cell;
				 		vertical-align: top;
				 		width: 300px;
				 		text-align: left;
				 	}

			 	}

			
				.content-column-container{

			 		.content-column{
			 			
			 			display: table-cell;

 						.image-container{

				 			img{
	 							position: relative;
	 							z-index: 29;
	 							width: 226px;
	 							height: 226px;
 							}

			 				.image-overlay{

							    position: absolute;
							    background: rgba(0,0,0,0.7);
							    color: #fff;
							    z-index: 30;
							    width: 226px;
							    height: 226px;
							    text-align: center;
							    line-height: 226px;
			 				}

			 			}

				 		
			 		}

			 		.content-column.spread-box{
				 			width: 256px;
				 			display: table-cell;
				 		}

			 	}


			 	.home-about{



			 	}

		 	}

		 	.form-container, .form-content{

				max-width: 800px;
				margin: 0px auto;
			    position: relative;
				padding: 2rem;

			}

			.footer-content{
				

				section{
					display: table-cell;
					text-align: left;
				}
			}

		}

	}

}

@media only screen and (min-device-width: 825px) {
	
	html {

		body {

			.button.bottom-cta{
			    
			    display: none;
			    
			}

			.mobile-device-only{
				display: none;
			}

			.shrink-screen-only.inline{
				display: inline-block;
			}

			.shrink-screen-only{
				display: inherit;
			}

		}

	}

}

@media only screen and (max-device-width: 825px) {
	
	html {

		body {


			.hide-on-mobile-device{
				display: none !important;
			}

			.shrink-screen-only{
				display: none !important;
			}

		}

	}

}

@media only screen and (min-device-width: 825px) {
	
	html {

		body {


			

		}

	}

}


