// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'styles';

ul.horizontal{

	list-style-type: none;
    margin: 0;
    margin-bottom: -1px;
    padding: 0;
    display: block;
	
	li{

		display: inline-block;
        text-align: center;
        vertical-align: top;

		a{

			display: block;
            font-size: 18px;
            padding: 10px;
           	letter-spacing: 1.5px;
		}

	}

}

.home-hero{
	
	background: #111;

	.home-hero-content{
		width: 100%;
		max-width: 800px;
		padding: 100px 15px;
		text-align:center;
		margin: 0 auto;
	}

	header{
		color: #fff;
		font-size: 4rem;
	}
}

.home-about{
	
	.home-about-content{
		
		width: 100%;
		max-width: 825px;
		padding: 3rem 1rem;
		text-align:center;
		margin: 0 auto;

		section{
			max-width: 600px;
			display: block;
			margin: 0 auto;
			padding: 15px;

			div.image-container{
				background: red;
				padding: 60px 30px;
			}
			
		}
	}

	header.section-header{
		
		font-size: 2rem;
		margin-bottom: 3rem;
	}
}

span.number-badge{
	border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;
}

