// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'styles';

.content{
 	margin: 0 auto;
 	display: block;
 	max-width: 825px;
 	padding: 50px 25px;

 	header{
 		font-size: 2.5rem;
    	line-height: 1.2;
    	margin-bottom: 3rem;
    	font-weight: 800;
 	}

 	section.content-section{
 		margin-bottom: 2rem;

 		header{
 			margin-bottom: 1.5rem;
 			font-size: 1.5rem;
 		}
 	}

 	.content-column-container{

 		.content-column{
 			display: table-cell;
 			padding: 20px 10px;
 			vertical-align: top;

 			.image-container{
 				display: block;
 				width: 100%;
 				padding: 30px;
 				background: red;
 			}

 		}

 		.content-column.spread-box{
 			max-width: 500px;
 			margin: 0 auto;
 			display: block;
 		}
 	}
 }

.options-content-container{
	
	margin: 0px auto;

	.options-sidebar, .options-content{
		
		display: block;
		vertical-align: top;
		
	}

	.options-sidebar{
		
		ul{
			list-style: none;


			a{
				display: block;
				padding: 15px 20px;
				cursor: pointer;
				border-bottom: 1px solid #ddd;
				border-left: 1px solid #ddd;
				background: #eee;
				border: 1px solid #ddd;
    			border-bottom: none;
			}

			a.active{
				border-bottom: 2px solid blue;
				background: #fff;
			}
		}

		ul{

			list-style-type: none;
		    margin: 0;
		    margin-bottom: -1px;
		    padding: 0;
		    display: block;
			
			li{

				display: inline-block;
		        text-align: center;
		        vertical-align: top;

				a{

					display: block;
		            font-size: 18px;
		            padding: 10px;
		           	letter-spacing: 1.5px;
				}

			}

		}
	}

	.options-content{
		
		
		background: #fff;
		padding: 35px 20px 35px 20px;
		border: 1px solid #ddd;

		.option-content-box{
			padding: 15px;

		}

		header{
	 		font-size: 2rem;
	    	line-height: 1.2;
	    	margin-bottom: 2rem;
	    	border-bottom: 1px solid #ccc;
    		padding-bottom: 10px;
    		font-weight: 500;
 		}

 		label{
 			font-size: 1.5rem;
 			margin-bottom: 1rem;
 		}

 		input[type="text"], input[type="email"], input[type="password"]{
 			margin-bottom: 1rem;
 			margin-top: 0.5rem;
 			border: 2px solid #aaa;
 			padding: 10px 0px;
			text-indent: 15px;
			font-size: 1.25em;
			border-radius: 2px;
	    	color: #333;
	    	width: 100%;
	    	max-width: 100%;
 		}

 		input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, textarea:focus, select:focus, input[type="password"]:focus{
			border: 2px solid #2a5298;
			outline: none;
		}
		
	}


}

ul.horizontal{

	list-style-type: none;
    margin: 0;
    margin-bottom: -1px;
    padding: 0;
    display: block;
	
	li{

		display: inline-block;
        text-align: center;
        vertical-align: top;

		a{

			display: block;
            font-size: 18px;
            padding: 10px;
           	letter-spacing: 1.5px;
		}

	}

}

.home-hero{

	background-image: url(city-dusk.jpg);
	background-image: asset-url("city-dusk.jpg");
	background-attachment: fixed;

	.home-hero-overlay{

		background: rgba(0,0,0,.75);
	}
	.home-hero-content{
		width: 100%;
		max-width: 800px;
		padding: 100px 15px;
		text-align:center;
		margin: 0 auto;
	}

	header{
		color: #fff;
		font-size: 4rem;
		text-shadow: 0px 3px 1px rgba(0,0,0,.8);
	}
}

.home-about{
	
	.home-about-content{
		
		width: 100%;
		max-width: 825px;
		padding: 3rem 1rem;
		text-align:center;
		margin: 0 auto;

		section{
			max-width: 600px;
			display: block;
			margin: 0 auto;
			padding: 15px;

			div.image-container{
				background: red;
				padding: 60px 30px;
			}
			
		}
	}

	header.section-header{
		
		font-size: 2rem;
		margin-bottom: 3rem;
	}
}

span.number-badge{
	border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

