// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

body{
	
	.dashboard-header, .dashboard-header-offset{
		
		height: 50px;
	}

	.dashboard-header-offset{
		display: none;
	}

	.dashboard-header{
		position: fixed;
		display: block;
		width: 100%;	
		z-index: 99999999;
		
		bottom: 0px;
		background: #fff;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
    

		a{
			color: #333;
		
			line-height: 30px;
			padding: 10px;

		}

		a:hover{
			background: rgba(0,0,0,0.1);
			cursor: pointer;
			color: #111;
		}

		a.cta{
			background: none;
		}

		a.cta:hover{
			background: none;
			border: none;
		}

		.glyphicon{
			line-height:26px;

		}


		a.active{
			border-bottom: 4px solid $servmanity-yellow;
			color: #111;
    		padding: 10px 30px 6px 30px;
			text-shadow: none;
			font-weight: 600;
			box-shadow: none;
		}

		a.active:hover{
			background: none;
		}

		a.active.cta{
			border-bottom: none;
			font-weight: 500;
		}

	}

}

.option-content-box{
	max-width: 500px;
	margin: 0px auto;
}
.navigation-list{
	
	background: $servmanity-green;

	list-style-type: none;

	li{
		margin-bottom: -2px;
		list-type: none;

		a{
			display: block;
			color: #fff;
			font-size: 18px;
			text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
			line-height: 30px;
			padding: 10px;
			border: 2px solid rgba(0,0,0,0.3);
		}

		a.active{
			border: 2px solid rgba(0,0,0,0.0);
		}
	}

	a.active{
		background: $servmanity-yellow;
		color: #111;
		text-shadow: none;
		font-weight: 600;
		box-shadow: none;
	}

}


.profile-header{
	display: block;
	width: 100%;
	
	.profile-header-content{
		max-width: 825px;
		padding: 50px;
		margin: 0 auto;
		color: #fff;
		text-align: center;

		header{
			font-size: 3rem;
			margin-bottom: 1rem;
		}

	}

	.profile-header-nav{
		width: 100%;
		display: block;
		background: $servmanity-green;

		.profile-header-nav-content{
			max-width: 825px;
			margin: 0 auto;
			text-align: center;
			color: #fff;

			ul{
				li{

					width: 33.3%;
    				max-width: 250px;
    				border-right: 2px solid rgba(0,0,0,0.3);

					a{
						color: #fff;
					}

					a.active{
						background: $servmanity-yellow;
						color: #111;
						font-weight: 600;
					}
				}

				li:first-child{
					border-left: 2px solid rgba(0,0,0,0.3);
				}
			}
		}
	}


}

.small-section-header{
	font-weight: 600;
	font-size: 24px;
}

.big-balance{
	font-size: 60px;
	color: $money-green;
	font-weight: 600;
	line-height: 60px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.big-date{
	font-size: 40px;
	color: $brand-blue;
	font-weight: 600;
	line-height: 60px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.payee-information{
	font-size: 22px;
	line-height: 30px;
	color: #666;
}

.cards-table{
	width: 100%;

	td{
		padding: 10px;
	}
}

