// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

body{

	.dashboard-header{
		position: fixed;
		display: block;
		width: 100%;	
		z-index: 999;
		height: 50px;
		bottom: 0px;
		background: $brand-grey;


		a{
			color: #fff;
			box-shadow: inset 0px 2px 1px rgba(200,200,200,0.5);
			border-right: 2px solid rgba(0,0,0,0.3);
			text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
			line-height: 30px;
			padding: 10px;
			

		}

		.glyphicon{
			line-height:26px;

		}

		a.active{
			background: $brand-yellow;
			color: #111;
			text-shadow: none;
			font-weight: 600;
			box-shadow: none;
		}

	}

}


.profile-header{
	display: block;
	width: 100%;
	
	.profile-header-content{
		max-width: 825px;
		padding: 50px;
		margin: 0 auto;
		color: #fff;
		text-align: center;

		header{
			font-size: 3rem;
			margin-bottom: 1rem;
		}

	}

	.profile-header-nav{
		width: 100%;
		display: block;
		background: $brand-blue;

		.profile-header-nav-content{
			max-width: 825px;
			margin: 0 auto;
			text-align: center;
			color: #fff;

			ul{
				li{

					width: 33.3%;
    				max-width: 250px;

					a{

					}

					a.active{
						background: $brand-yellow;
						color: #111;
						font-weight: 600;
					}
				}
			}
		}
	}


}

